@font-face {
  font-family: circ;
  src: url("../assets/fonts/circBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: circ;
  src: url("../assets/fonts/circBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
