// Theme colors
$theme-purple: #40327a;
$theme-light-purple: #f5f5f8;

// General colors
$text-dark: #404040;
$text-light: #68696a;
$white: #ffffff;

$theme-blue: #344678;
$theme-blue-light: rgba(52, 70, 120, 0.2);
$theme-red: #eb5757;

$black: #27282f;
$light-black: #303138;
$grey: #949495;
$blue-to-purple: linear-gradient(90deg, #61dafb 0%, #b06ab3 100%);
$light-blue: #61dafb;
$light-purple: #b06ab3;

$bg-cream: #f6f4ec;
